section#netconf-table {
    font-family: "Helvetica", "Arial", sans-serif;
    height: 318px;

    div {
        height: inherit;
        div.column{
            height: inherit;
            display: inline-block;
        }

        div.column.table.features {
            width: 20%;
        }

        div.column.table.hidden-layers {
            width: 40%;
        }

        div.column.table.output {
            width: 20%;
        }
    }
}