.form-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    td,
    th {
        border: 1px solid #c7c7c7;
        border-left: none;
        border-right: none;
        padding: 8px $tbl-basic-h-padding;
        font-size: 12px;
    }
    tr {
        td:last-child,
        th:last-child {
            border-right: none;
        }
        &:last-child td {
            border-bottom: 1px solid #c3c3c3
        }
        th {
            background: #f3f3f3;
        }
    }
}

.jsonOdd{
    background: #eee;
}