# tfmsaview - exclude NPM modules 
/tfmsaview/static/node_modules
/tfmsaview/static/TensorMSA.js
/tfmsaview/static/TensorMSA.js.map
/tfmsaview/dist
/reports/
/tfmsacore/migrations
/tfmsaview/static/dist