<!DOCTYPE html>
<html>
    <head><title>Upload Test</title></head>
    <body>
        <!-- Change db and table !!!!!! -->
        <!--<form action="/api/v1/type/dataframe/base/scm/table/tb_data_cokes/data/CSV/"-->
            <form action="/api/v1/type/dataframe/base/scm/table/tb_data_cokes100/data/CSV/"
                  method="post"
                  enctype="multipart/form-data">
                CSV Upload:
                <input type="file"
                       name="file"
                       id="id_file" multiple/>
                <input type="submit" value="UPLOAD" />
            </form>
            <form action="/api/v1/type/imagefile/base/mes/table/test5/label/mario/data/nn0000045/"
              method="post"
              enctype="multipart/form-data">
            Image Upload (1):
            <input type="file"
                   name="file"
                   id="id_file2" multiple/>
            <input type="submit" value="UPLOAD" />
            </form>
            <form action="/api/v1/type/imagefile/base/mes/table/test5/label/yosi/data/nn0000045/"
              method="post"
              enctype="multipart/form-data">
            Image Upload (2):
            <input type="file"
                   name="file"
                   id="id_file3" multiple/>
            <input type="submit" value="UPLOAD" />
            </form>
            <form action="/api/v1/type/cnn/predict/nn0000045/"
              method="post"
              enctype="multipart/form-data">
            Image Predict Test :
            <input type="file"
                   name="file"
                   id="id_file4" multiple/>
            <input type="submit" value="UPLOAD" />
            </form>
            <form action="/api/v1/type/cifar/kind/ten/"
              method="post"
              enctype="multipart/form-data">
            Cifar Predict Test :
            <input type="file"
                   name="file"
                   id="id_file5" multiple/>
            <input type="submit" value="UPLOAD" />
            </form>
    </body>
</html>