<!DOCTYPE html>
<html>
    <head><title>Upload Test</title></head>
    <body>
        <!-- Change db and table !!!!!! -->
        <!--<form action="/api/v1/type/dataframe/base/scm/table/tb_data_cokes/data/CSV/"-->
            <form action="/api/v1/type/imagefile/base/mes/table/testtable/label/1/data/"
              method="post"
              enctype="multipart/form-data">
            File(TEST):
            <input type="file"
                   name="file"
                   id="id_file" multiple/>
            <input type="submit" value="UPLOAD" />
        </form>
    </body>
</html>