<!DOCTYPE html>
<html>
    <head><title>predit csv upload Test</title></head>
    <body>
        <!-- Change db and table !!!!!!
         resp = requests.post('http://' + url + '/api/v1/type/wdnn/predict/nn0000014/')-->
        <form action="/api/v1/type/wdnn/predict/nn0000014/"
              method="post"
              enctype="multipart/form-data">
            File:
            <input type="file"
                   name="file"
                   id="id_file" />
            <input type="submit" value="UPLOAD" />
        </form>
    </body>

</html>